{% extends "base2.html" %}

{% block content %}

</div>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/channel.css') }}">

<h1 class="title"> Welcome to Channel : {{ channel.name }}! </h1>

<div id="content">
    <div class="leftcolumn">
        <h2> Channel members are: </h2>
        {% for i in members:%}
            <div class="member-holder">
              <a href="/user/{{i.id}}">
                  {{i.name}}
              </a>
              <div class="member-control">
                  <button class="member-control-button" type="button" name="button">⬆️</button>
                  <button class="member-control-button" type="button" name="button">⬇️</button>
                  <button class="member-control-button" type="button" name="button">🦵</button>
              </div>
            </div>
        {% endfor %}
    </div>
    <div class="rightcolumn">
        <h2> Chats </h2>

        <div class="message_holder">
        </div>
    </div>
    <div class="form-holder">
      <form class="text-form" action="" method="POST">
        <input type="text" class="message" placeholder="type your message here"/>
        <input type="submit"/>
      </form>
      <form class="file-form" action="" method=post enctype=multipart/form-data>
        <input type="file" name="file" class="file"/>
        <input type="submit" value="Upload"/>
      </form>
      <button id="switch-button" type="button" name="button"> Switch </button>
    </div>

</div>


  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <script>
      var channel_id = {{channel.id}};
      var switch_button = $('#switch-button');
      var mode = 0;
      switch_button.click(() => {
          if (mode === 0) {
              $('.text-form').hide();
              $('.file-form').show();
              mode = 1;
          } else {
              $('.file-form').hide();
              $('.text-form').show();
              mode = 0;
          }
      });
  </script>
  <script type=text/javascript src="{{
    url_for('static', filename='js/channel.js') }}"></script>

{% endblock %}
