<!-- templates/home.html -->

{% extends "base.html" %}

{% block content %}

<style media="screen">
body {
  background-color: #F19898;
}
input, form {
  display : inline;
}
.server {
  padding : 10px;
  background-color: #F1EDC6;
  margin : 10px;
}
.add {
    border-radius: 25px;
    background-color: #F1EDC6;
    /* padding : 30px; */
    /* margin : 20px; */
    height : 50px;
    width : 50px;
}
</style>

<h1 class="title">
  Welcome, {{ name }}!
</h1>
<a href="/user/{{current_user.id}}">My Profile</a>
<br>
<div class="leftcolumn">
  <h2> Your Servers are: </h2>
  {% for s in servers:%}
  	<div class="server">
      <a href="/server/{{s.id}}"> {{s.name}}</a><br>
    </div>
  {% endfor %}
  <center>
    <a href="/add-server">
    <div class="add">
        Add
    </div>
    </a>
  </center>
</div>
<div class="rightcolumn">
    <h2> Your Invitations are: </h2>
    <ul>
    {% for i in invites:%}
    <li>
        <h3>{{i.name}}</h3>
        <p> {{i.description}}</p>
        <form class="text-form" action="/accept-invite/{{i.id}}" method="POST">
            <input type="submit" value="Accept"/>
        </form>
        <form class="text-form" action="/decline-invite/{{i.id}}" method="POST">
            <input type="submit" value="Decline"/>
        </form>
    </li>
    {% endfor %}
    </ul>
</div

<script>
fetch('/users')
  .then(function (response) {
      	console.log(response.json());
  })
</script>

{% endblock %}
