<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<h2> Your Invitations are: </h2>
{% for i in invites:%}
    <label>{{i.name}}</label> <br>
    <form class="text-form" action="/accept-invite/{{i.id}}" method="POST">
        <input type="submit" value="Accept"/>
    </form>
    <form class="text-form" action="/decline-invite/{{i.id}}" method="POST">
        <input type="submit" value="Decline"/>
    </form>
    <br>
{% endfor %}
<h2> Your Servers are: </h2>
{% for s in servers:%}
	<a href="/server/{{s.id}}"> {{s.name}}</a>
{% endfor %}

<script>
fetch('/users')
  .then(function (response) {
      	console.log(response.json());
  })
</script>

{% endblock %}
