{% extends "base2.html" %}

{% block content %}
</div>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/search-users.css') }}">

<style media="screen">
  .main {
      background-color: #D6E5ED;
      width : 50%;
      padding : 10px;
      margin : 30px;
      border-radius: 20px;
  }
  .result {
      background-color: #ACDE84;
      padding : 10px;
      margin : 10px;
      border-radius: 5px;
  }
  body {
      background-color: #F19898;
  }
</style>

<center>
<div class="main">
<h1 class="title"> Search Users </h1>

<div id="content">
  <div class="form-holder">
      <form class="text-form" action="" method="POST">
        <label>Enter User Name:</label>
        <input type="text" class="form-control" name="searchQuery" placeholder="Search Users by entering name"/>
        <input type="submit" value="Search"/>
      </form>
  </div>
  {% for u in matchList:%}
        <div class="result">
          <a href="/user/{{u.id}}">{{u.name}}</a> <br>
        </div>
  {% endfor %}
</div>
</center>


</div>


{% endblock %}
