{% extends "base2.html" %}

{% block content %}

</div>

<style media="screen">
    body {
      background-color: #F19898;
    }
    .add-leave {
      padding : 20px;
      margin : 30px;
      background-color: #F1EDC6;
      display: inline;
      border-radius: 10px;
    }
</style>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/server.css') }}">

<h1 class="title"> Welcome to Server : {{ server.name }}! </h1>

<div id="content">
    <div class="leftcolumn">
        <h2> Server members are: </h2>
        {% for i in members:%}
            <div class="member-holder">
              <a href="/user/{{i.id}}">
                  {{i.name}}
              </a>
                <i><p class="member-role"> ({{ i.role }}) </p></i>
              <div class="member-control">
                <form class="member-control-form" action="./{{server.id}}/promote/{{i.id}}" method="POST">
                    <button class="member-control-button" type="submit" name="button">⬆️</button>
                </form>
                <form class="member-control-form" action="./{{server.id}}/demote/{{i.id}}" method="POST">
                    <button class="member-control-button" type="submit" name="button">⬇️</button>
                </form>
                <form class="member-control-form" action="./{{server.id}}/kick/{{i.id}}" method="POST">
                    <button class="member-control-button" type="submit" name="button">🦵</button>
                </form>
              </div>
            </div>
        {% endfor %}
        <br>
        <center>
        <div class="add-leave">
          <a href="./{{server.id}}/add-member"> Add </a>
        </div>
        <div class="add-leave">
          <a href="./{{server.id}}/leave"> Leave </a>
        </div>
        </center>

    </div>
    <div class="rightcolumn">
        <h2> Channels </h2>
        <form action="/server/{{server.id}}/add-channel" method="GET">
          <input type="submit" value="Add Channel" class="add-channel"/>
        </form>
        {% for i in channels:%}
          <div class="channel-holder">
            <a href = "/channel/{{i.id}}">
              {{i.name}}
            </a>
          </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
