html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
#content {
    height: 85%;
}

.auth-form input[type=text] {
    width:50%;
    margin:20px;
    padding:5px;
}

.auth-form input[type=email] {
    width:50%;
    margin:20px;
    padding:5px;
}

.auth-form input[type=password] {
    width:50%;
    margin:20px;
    padding:5px;
}

.auth-form button {
    width:25%;
    padding:10px;
}

.leftcolumn {
  float: left;
   width: 30%;
   background: red;
   height: 100%;
   overflow: auto;
   box-sizing: border-box;
   padding: 0.4em;
  background-color: #E1DDB6;
}

.rightcolumn {
  float: left;
   width: 70%;
   background: blue;
   height: 100%;
   overflow: auto;
   box-sizing: border-box;
   padding: 0.4em;
    background-color: #D6E5ED;
}

.topbar {
    background-color: #F19898;
}

.topbar a {
    margin : 10px;
}
